/*Title*/
*{
    color: aliceblue;
    
}
.navbar-brand{
    font-size: 70px;
    color: white;
    text-shadow: black 0 -1px 4px,#00B4CC   0 -2px 10px;
    font-family: Impact, Charcoal, sans-serif;
    letter-spacing: px;
    word-spacing: 5px;
    text-align: center;
    font-style: italic;
    font-variant: normal;
    text-transform: capitalize;
}
/*Dashboard,logout Nav*/
.nav-item{
    color:#00B4CC;
    letter-spacing: px;
    word-spacing: 5px;
    text-shadow: black 0 -1px 4px,#00B4CC   0 -2px 10px;
    font-style: italic;
    font-variant: normal;
    text-transform: capitalize;
    
}

footer{
    text-align:center;

}

body {
    font-family: "Anton", sans-serif; 
    background-size: cover;
    background-color: rgb(148, 119, 5);
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    box-sizing: border-box;
  }